@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon5c19.eot?6g51i');
	src: url('../fonts/icomoon5c19.eot?6g51i#iefix') format('embedded-opentype'),
		 url('../fonts/icomoon5c19.html?6g51i') format('truetype'),
		 url('../fonts/icomoon5c19.woff?6g51i') format('woff'),
		 url('../fonts/icomoon5c19.svg?6g51i#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
.icon-BloodDonation:before {
    content: "\e900";
}
.icon-Clinichistorymedicalpaperonclipboard:before {
    content: "\e901";
}
.icon-FirstAidKit:before {
    content: "\e902";
}
.icon-Hospitalmedicalsignalofacrossinacircle:before {
    content: "\e903";
}
.icon-Pills:before {
    content: "\e904";
}
.icon-add:before {
    content: "\e905";
}
.icon-bodyparts:before {
    content: "\e906";
}
.icon-broken:before {
    content: "\e907";
}
.icon-capsules:before {
    content: "\e908";
}
.icon-check-box:before {
    content: "\e909";
}
.icon-clipboard:before {
    content: "\e90a";
}
.icon-computer:before {
    content: "\e90b";
}
.icon-hairs:before {
    content: "\e90c";
}
.icon-healthcare:before {
    content: "\e90d";
}
.icon-hospital:before {
    content: "\e90e";
}
.icon-kidneys:before {
    content: "\e90f";
}
.icon-location:before {
    content: "\e910";
}
.icon-magnifier:before {
    content: "\e911";
}
.icon-mailing:before {
    content: "\e912";
}
.icon-map:before {
    content: "\e913";
}
.icon-mouse:before {
    content: "\e914";
}
.icon-photo:before {
    content: "\e915";
}
.icon-pill:before {
    content: "\e916";
}
.icon-placeholder:before {
    content: "\e917";
}
.icon-reproduction:before {
    content: "\e918";
}
.icon-stars:before {
    content: "\e919";
}
.icon-stethoscope:before {
    content: "\e91a";
}
.icon-stethoscopetwo:before {
    content: "\e91b";
}
.icon-telephone:before {
    content: "\e91c";
}
.icon-tooth:before {
    content: "\e91d";
}
.icon-view:before {
    content: "\e91e";
}
.icon-zoom:before {
    content: "\e91f";
}
.icon-linecheckbox:before {
    content: "\e920";
}
.icon-quotation:before {
    content: "\e921";
}
